/* General Reset */
* {
    margin: 0;
    padding: 0;
}

/* Navbar Styling */
nav {
    display: flex;
    position: sticky;
    /* Sticky position */
    top: 0;
    /* Sticks to the top of the viewport */
    height: 70px;
  
    /* width: 100%; */
    background-color: rgb(79, 75, 75);
    border: 0.1px solid rgb(219, 217, 217);
    z-index: 111;
    /* Ensure it stays above other content */
}

.logo {
    display: flex;
    align-items: center;
}

.navLinks .Home-ul a {
    color: #fff;
}

.NavBar {
    display: flex;
    justify-content: space-evenly;
}

.Home-ul {
    display: flex;
    align-items: center;
    margin-top: 0px;
    gap: 40px;
    list-style: none;
    color: white;
}

a {
    text-decoration: none;
}

.Home-ul ul li {
    text-decoration: none;
    list-style: none;
}

nav .navLinks {
    display: flex;
}

nav .navLinks .Home-ul {
    color: #555;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.Home-ul:hover {
    color: red;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav .menuBtn {
    padding: 8px 20px;
    color: black;
    background: transparent;
    border: 1px solid #333;
    border-radius: 20px;
    font-size: 16px;
    margin-left: 160px;
    margin-top: 0px;
}

nav .menuBtn:hover {
    color: #fff;
    background: #222;
    transition: 0.3s;
    cursor: pointer;
}

.fas-cross {
    display: none;
}

.fas-menu {
    display: none;
    position: absolute;
    top: 20px;
    right: 10%;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        gap: 24px;
        background-color: #fff;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin-top: -10px;
        width: 100px;
    }

    nav .navLinks .Home-ul {
        flex-direction: column;
        background-color: #fff;
        box-shadow: -1px 0px 37px 0px rgba(152, 87, 191, 0.75);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 80px;
        z-index: 2;
        transition: right 0.5s;
    }

    .navLinks .Home-ul a {
        color: black;
    }

    .fas-cross {
        position: absolute;
        top: 10px;
        left: 160px;
        cursor: e-resize;
    }

    .menuBtn {
        display: none;
    }

    .fas-cross {
        display: block;
        font-size: 25px;
    }

    .fas-menu {
        display: block;
        font-size: 25px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    nav .navLinks .Home-ul {
        font-size: 15px;
    }

    .menuBtn {
        display: none;
    }
}

@media only screen and (min-width: 900px) {}